{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Hello HomeController!{% endblock %}

{% block body %}

    <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
    </h1>

    {% for activity in activities %}
    <!-- Blog Post -->
    <div class="card mb-4">
        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title"> {{activity.name }} - <small>{{ user.firstname }} {{ user.lastname }}</small></h2>
            <p class="card-text">{{ type.name }}</p>
            <a href="{{ path('activity_details', {id: activity.id}) }}" class="btn btn-primary">Voir plus &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            {{ activity.didAt|date("d/m/Y") }}
        </div>
    </div>
    {% endfor %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>

</div>

<!-- Sidebar Widgets Column -->
<div class="col-md-4">
    <!-- Side Widget -->
    <div class="card my-4">
        <h5 class="card-header">Profil</h5>
        <div class="card-body">
            <div class="info-user">
                {% if user %}
                    <img src="http://placehold.it/100x100" class="rounded-circle">
                    <h4>{{ user.firstname }} {{ user.lastname }} </h4>
                    <p>{{ user.activities|length }} Activités</p>
                    {%  if lastActivity.name %}
                    <p>Dernière activité : {{ lastActivity.name }}</p>
                    {% else %}
                    <p>Aucune activité récente</p>
                    {% endif %}
                {% else %}
                    <p>Pensez à vous inscrire !</p>
                    <a class="btn btn-info" href="">Inscription</a>
                {% endif %}

            </div>
        </div>
    </div>

</div>

{% endblock %}
